.login-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: blur(3px);
}

.login-container {
    position: relative; /* Keeps the form in front of the background */
    display: flex;
    justify-content: center; /* Center the form horizontally */
    align-items: center; /* Center the form vertically */
    height: 100vh; /* Full height of the viewport */
}

.login {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background for the form */
    border-radius: 8px;
    width: 100%;
    max-width: 400px; /* Limit the width of the form */
    text-align: center;
    padding: 30px 20px;
}

.login input {
    width: 85%;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 4px;
}

.login p a{
    color: blue;
    text-decoration: none;
}

.login p a:hover{
    color:cyan;
}

.login button {
    padding: 10px 5px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 55%;
    font-size: large;
    color: white;
    font-weight: bold;
}

.login button:hover {
    background-color: #45a049;
}

.login h1 {
    color: white;
    text-shadow: 2px 2px 5px black; /* Added vertical offset and blur radius for a smoother shadow */
}
