.admin-login{
    background-color: rgb(162, 172, 210);
}

.admin-container {
    position: relative; /* Keeps the form in front of the background */
    display: flex;
    justify-content: center; /* Center the form horizontally */
    align-items: center; /* Center the form vertically */
    height: 100vh; /* Full height of the viewport */
}

.admin {
    background-color: rgba(0, 0, 0); /* Semi-transparent background for the form */
    border-radius: 8px;
    width: 100%;
    max-width: 400px; /* Limit the width of the form */
    text-align: center;
    padding: 50px;
    border-radius: 16px;
}

.admin input {
    width: 95%;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    font-size: larger;
}

.admin button {
    padding:8px;
    background-color: rgb(239, 7, 7);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 65%;
    font-size: large;
    margin-top: 15px;
}

.admin button:hover {
    background-color:rgb(197, 82, 82);
}

.admin a button{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.admin h1{
    color: rgb(233, 234, 239);
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgb(255, 0, 0);
}

