.header-admin {
    background-color: black;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.header-admin h2 {
    font-size: xx-large;
    font-weight: bold;
    color: white; 
}

.hiadmin p {
    font-size: large;
    font-weight: normal;
    color: white; 
}

.admindash-content {
    display: flex;
    height: calc(100vh - 11vh); 
}

.left-admindash {
    width: 20%;
    background-color: rgb(159, 21, 21); 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-admindash a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    border: 1px solid white;
    padding: 16px 8px;
    border-radius: 5px;
}

.left-admindash a:hover {
    color: maroon;
    background-color: white;
}

.right-admindash {
    width: 80%;
    background-color: #f4f4f4; 
    padding: 20px;
    box-sizing: border-box;
}
