.heading{
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h2{
    font-size: xx-large;
    font-weight: bold;
    padding-left: 40px;
}

.navigate{
    display: flex;
    padding-right: 40px;
    gap: 35px;
    align-items: center;
    font-size: x-large;
}


.navigate a{
    color: white;
    text-decoration: none;
}

.navigate a:hover{
    color:ghostwhite;
    cursor:pointer;
}

.navigate ul{
    display: flex;
    gap: 35px;
    align-items: center;
    font-size: x-large;
    list-style-type: none;
}

.home-image {
    position: absolute;
    width: 100%;
    height: 90vh;
}

.home-text-image{
    position: absolute;
    top: 20%;
    left: 12%;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.home-text-image:hover{
    transform: scale(1.1);
}

.phone-icon{
    border-left: 2px solid white;
    padding-left: 25px;
    padding-right: 15px;
}